Source: kvm-gpu
Section: admin
Priority: optional
Maintainer: Daniel Gröber <dxld@darkboxed.org>
Build-Depends: debhelper (>= 9.0.0), dh-systemd (>= 1.5)
Standards-Version: 3.9.5
#Vcs-Git: git://git.debian.org/collab-maint/kvm-gpu.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/kvm-gpu.git;a=summary

Package: kvm-gpu
Architecture: all
Depends: ${misc:Depends}, qemu-system-x86
Description: Utilities for GPU passthrough with KVM
 kvm-gpu provides utilities, init scripts and configuration files to setup a
 host system for passthrough of GPUs and other PCIe devices to virtual machines
 using the KVM hypervisor.